<div>
    <%= form_with model: @user, url: update_password_path, method: :patch, local: true do |f| %>
    <div>
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: "form-control" %>
    </div>
    <div>
        <%= f.label :new_password %>
        <%= f.password_field :password, class: "form-control" %>
    </div>
    <div>
        <%= f.label :new_password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    <%= f.submit "Update", class: 'btn btn-primary' %>
    <% end %>
</div>