<h1>Post Show page</h1>
<h2><%= @post.title %></h2>
<p><%= @post.body %></p>
<p><small>Created at: <%= @post.created_at %>, Views: <%= @post.view_count %> </small></p>
<label>Created by: <%= @post.user.full_name %></label>

<% if can? :crud, @post %>
  <%= link_to 'Edit', edit_post_path(@post) %>
  <%= button_to 'Delete', post_path(@post), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }  %>  
<% end %>

<h4>Answers</h4>
<hr>

<% @answers.each do |answer| %>
    <div>
    <%= answer.body %>
    <small>Answered <%= time_ago_in_words(answer.created_at) %> ago by: <label><%= answer.user.full_name %></label></small>
    <% if can? :crud, answer %>
      <%= button_to "Delete", post_answer_path(@post, answer), method: :delete,form: { data: { turbo_confirm: "Are you sure?" } } %>  
    <% end %>
    
    <hr>
    </div>
<% end %>

<h3>Comment</h3>

<% if @answer.errors.any? %>
  <ul>
    <%  @answer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model:[@post, @answer]) do |f| %>
  <div>
    <%= f.label :body %>
    <br>
    <%= f.text_area :body, cols: 50, rows: 5 %>
  </div>
  <%= f.submit "Answer" %>
<% end %>