<h1>Post Show page</h1>
<h2><%= @post.title %></h2>
<p><%= @post.body %></p>
<p><small>Posted at: <%= time_ago_in_words(@post.created_at) %> ago </small></p>

<div>
  <%= link_to 'Edit', edit_post_path(@post) %>
  <%= button_to 'Delete', post_path(@post), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }  %>  
</div>

<% @answers.each do |answer| %>
    <div>
    <%= answer.body %>
    <small>Commented <%= time_ago_in_words(answer.created_at) %></small>
    <%= button_to "Delete", post_answer_path(@post, answer), method: :delete,form: { data: { turbo_confirm: "Are you sure?" } } %>  
    
    <hr>
    </div>
<% end %>

<%= form_with(model:[@post, @answer]) do |f| %>
  <div>
    <%= f.label :answer %>
    <br>
    <%= f.text_area :body, cols: 50, rows: 5, placeholder: "What's on your mind?" %>
  </div>
  <%= f.submit "Submit" %>
<% end %>